.body{
  background-color:rgb(255, 249, 241);
}

.user-basic-details{
   background-color: white;
   border-radius: 2rem; 
}

.cover-image {
  width: 100%;
  height: 15rem;
}

.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

.profile-image {
  display: inline-block;
  width: auto;
  height: auto;
  border: 3px solid #005555;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.card-profile-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-profile-initials {
  width: 7rem !important;
  height: 7rem !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.appointment-detais{
  margin-top: 2rem;
}

.card{
  border-radius: 0.5rem !important;
}

.card-title{
  color: black;
}