@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
   font-family: 'Montserrat', sans-serif; 
}

/* antd override */

input{
    border-radius: 2px !important;
    border:1px solid rgba(128, 128, 128, 0.585) !important;
    height: 40px !important;
}

input:focus,.ant-picker{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label{
    font-size: 16px !important;
    color: black;
}

.ant-form-item{
    margin: 10px 0 !important;
}

.ant-picker {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.585) !important;
    height: 40px !important;
}

.ant-picker-input input {
    border: none !important;
}

/* General style */

.spinner-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.442);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.spinner-border{
    height: 5rem;
    width: 5rem;
    color: white;
}

.page-title{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.832);
    font-weight: bold;
}

.card-title{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.609);
    font-weight: bold;
}

.normal-text{
    font-size: 1rem;
}

.card{
    box-shadow: 0 0 2px rgb(154, 154, 154);
    border-radius: 0 !important;
}

.primary-button{
    background-color: #005555;
    border-color: #005555;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 1px;
    width: max-content !important;
    border-radius: 0.3rem;
}

.layout-button:hover {
  background-color: #029d9d !important; 
  transform: scale(1.05);   
  box-shadow: 0 4px 8px #005555; 
}

.full-width-button{
    width: 100% !important;
}

.link_a{
    color: black;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

.link_a:hover{
    text-decoration: underline;
}

p{
    color: rgba(0, 0, 0, 0.697);
    padding: 0 !important;
    margin: 0 !important;
}

.cursor-pointer{
    cursor: pointer;
}

/* Login/register page */

.auth{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005555;
}

.auth-form{
    width: 400px;
}

.auth .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orangered;
    color: white;
    max-width: max-content;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
}

.ml-1{
    margin-left: 1rem;
}

.card-profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-profile-initials {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff; 
  color: white;            
  font-size: 24px;         
  font-weight: bold;
  text-transform: uppercase;
}